<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lansoeditor.demo"
    android:versionCode="1095"
    android:versionName="1.9.5" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

      
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    
    
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    
    
    
    
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.example.lansongeditordemo.StartActivity"
            android:theme="@style/AppTheme2">
              
         <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
         
         </activity>
         
        <activity
            android:name="com.example.lansongeditordemo.MainActivity">
            <!-- 因为要加载.so库, 这里一定要用MainActivity来启动 -->
            
               
            
        </activity>
        
        
        
        <activity android:name="com.example.lansongeditordemo.VideoVideoRealTimeActivity"></activity>
        
        
        <activity android:name="com.example.lansongeditordemo.VideoFilterDemoRealTimeActivity"></activity>
        
        <activity android:name="com.example.lansongeditordemo.VideoRemarkActivity"></activity>
        
        <activity android:name="com.example.lansongeditordemo.FilterRealTimeActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.DrawPadHintActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.VideoPictureRealTimeActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.PictureSetRealTimeActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.VideoPlayerActivity"></activity>
                   
            
        <activity android:name="com.example.lansongeditordemo.VideoPictuerExecuteActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.FilterDemoExecuteActivity"></activity>
        
        
        
          <activity android:name="com.example.lansongeditordemo.CanvasPenDemoActivity"></activity>
        
        
        
        <activity android:name="com.example.lansongeditordemo.FilterExecuteActivity"></activity>
        
        <activity android:name="com.example.lansongeditordemo.FileExplorerActivity"
        android:label="@string/select_video"></activity>
        
        
        <activity android:name="com.example.lansongeditordemo.PictureSetExecuteActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.VideoViewPenDemoActivity"></activity>
        
        <activity android:name="com.example.lansongeditordemo.ViewPenOnlyRealTimeActivity"></activity>
        
        
        <activity android:name="com.example.lansongeditordemo.MVPenDemoActivity"></activity>
        <activity android:name="com.example.lansongeditordemo.TestMVPenExecuteActivity"></activity>
          <activity android:name="com.example.lansongeditordemo.VideoPenAutoUpdateDemoActivity"></activity>
        
          <activity android:name="com.example.lansongeditordemo.CameraPenDemoActivity"
               android:theme="@style/AppTheme2">
              
          </activity>
          
          <activity android:name="com.example.lansongeditordemo.SegmentRecorderActivity"
                  android:theme="@style/AppTheme2">
              
          </activity>
          
        <!--    common version -->
            <activity android:name="com.lansosdk.commonDemo.CommonDemoActivity"></activity>
         <activity android:name="com.lansosdk.commonDemo.MediaInfoActivity"></activity>
         <activity android:name="com.lansosdk.commonDemo.AVEditorDemoActivity"/>
         <activity android:name="com.lansosdk.commonDemo.ScaleExecuteDemoActivity"/>
        
    </application>

</manifest>
