<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lansoeditor.demo"
    android:versionCode="2708"
    android:versionName="2.7.8" >

    <!-- 这里的意思是：我们的sdk最低是Android4.3， 最高支持Andriod7.0 23   -->
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />
 <uses-feature android:glEsVersion="0x00020000"></uses-feature>
      
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    
    
    
    
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    
    <!-- android:largeHeap="true"让他内存显示最大到512M -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.example.advanceDemo.StartActivity"
            android:theme="@style/AppTheme2">

         </activity>
         
        <activity
            android:name="com.example.advanceDemo.ListMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <!-- 列表 -->
             <activity android:name="com.example.advanceDemo.ListLayerDemoActivity"></activity>
             <activity android:name="com.example.advanceDemo.ListSceneDemoActivity"></activity>
             <activity android:name="com.example.advanceDemo.ListCoolDemoActivity"></activity>
             <activity android:name="com.example.advanceDemo.ListFaceDetectedDemoActivity"></activity>
                  
        <!-- 录制类  -->
        <activity android:name="com.example.advanceDemo.ListCameraRecordActivity"
            android:screenOrientation="portrait"></activity>
        

          <activity android:name="com.example.advanceDemo.camera.CameraLayerRectActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.advanceDemo.camera.CameraLayerFullPortActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
        <activity android:name="com.example.advanceDemo.camera.CameraLayerFullPortWithMp3Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
        
       
         <activity android:name="com.example.advanceDemo.camera.CameraSubLayerDemo1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
          <activity android:name="com.example.advanceDemo.camera.CameraSubLayerDemo2Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
       <activity android:name="com.example.advanceDemo.camera.CameraLayerFullSegmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
        <activity   android:name="com.example.advanceDemo.camera.CameraLayerFullLandscapeActivity"
            android:screenOrientation="landscape"
           	 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
       <!-- 基本图层类 --> 
        
        <activity android:name="com.example.advanceDemo.Demo1LayerMothedActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.advanceDemo.Demo2LayerMothedActivity"></activity>
        <activity android:name="com.example.advanceDemo.Demo3LayerFilterActivity"></activity>
        <activity android:name="com.example.advanceDemo.Demo4SubLayerMothedActivity"></activity>
       
        
        <activity android:name="com.example.advanceDemo.scene.VideoSpeedDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.VideoOneProcessActivity"></activity>
        

        
        <activity android:name="com.example.advanceDemo.BitmapLayerMarkActivity"></activity>
        
        
        
         <activity android:name="com.example.advanceDemo.TwoVideoLayerActivity"></activity>
          
         <activity android:name="com.example.advanceDemo.ExecuteTwoVideoLayerDemoActivity"></activity>
            
            

        
          <activity android:name="com.example.advanceDemo.BitmapAudio.BitmapLayerFilterDemoActivity"></activity>
          

          <!-- 场景举例 -->
         <activity android:name="com.example.advanceDemo.scene.LayerLayoutDemoActivity"></activity>
      	 <activity android:name="com.example.advanceDemo.scene.Video2LayoutActivity"></activity>
      	 
      	 <activity android:name="com.example.advanceDemo.scene.VideoLayerTransformActivity"></activity>
      	 
      	 <activity android:name="com.example.advanceDemo.scene.MoreLayHeadSeekActivity"></activity>
      	 
      	 <activity android:name="com.example.advanceDemo.scene.VideoLayerAutoUpdateActivity"></activity>
      	      
      	 <activity android:name="com.example.advanceDemo.scene.PictureSetRealTimeActivity"></activity>
      	 
      	 <activity android:name="com.example.advanceDemo.scene.OutBodyDemoActivity"></activity>
      	   <activity android:name="com.example.advanceDemo.scene.ExecuteAllDrawpadActivity"></activity>
      	 
        <!-- 炫酷举例 -->
        <activity android:name="com.example.advanceDemo.cool.VViewImage3DDemoActivity"></activity>
        <activity android:name="com.example.advanceDemo.cool.ParticleDemoActivity"></activity>
          
        
        <!-- 图片/声音 其他类. -->    
         <activity android:name="com.example.advanceDemo.ExecuteCanvasLayerActivity"></activity>
            
        <activity android:name="com.example.advanceDemo.ExecuteVideoLayerActivity"></activity>
        <activity android:name="com.example.advanceDemo.ExecuteFilterDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.BitmapAudio.ExtractVideoFrameDemoActivity"></activity>
        
        
        <activity android:name="com.example.advanceDemo.BitmapAudio.DisplayFramesActivity"></activity>
        <activity android:name="com.example.advanceDemo.ListBitmapAudioActivity"></activity>
        
         
        <activity android:name="com.example.advanceDemo.ExecuteBitmapPadActivity"></activity>
        <activity android:name="com.example.advanceDemo.CanvasLayerDemoActivity"></activity>
        
      	<activity android:name="com.example.advanceDemo.BitmapAudio.BitmapEditDemoActivity"></activity>
        
       
         
         
       <!-- 播放和其他类 -->

     	  <activity android:name="com.example.advanceDemo.VideoPlayerActivity"></activity>
        <activity android:name="com.example.advanceDemo.FilterExecuteActivity"></activity>
        <activity android:name="com.example.advanceDemo.FileExplorerActivity"
        android:label="@string/select_video"></activity>
        
        <activity android:name="com.example.advanceDemo.ShowOneBitmapActivity"></activity> 
        
        <activity android:name="com.example.advanceDemo.scene.ExecuteBitmapLayerActivity"></activity>
        <activity android:name="com.example.advanceDemo.ViewLayerDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.ViewLayerOnlyActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.ViewLayerOnlyRealTimeActivity2"></activity>
        <activity android:name="com.example.advanceDemo.MVLayerDemoActivity"></activity>
        
        
        
   
        
          
          
          
             
             
          
          
          
          
      
             
 
          
          
        <!--    common version -->
            <activity android:name="com.example.commonDemo.CommonDemoActivity"></activity>
         <activity android:name="com.example.commonDemo.MediaInfoActivity"></activity>
         <activity android:name="com.example.commonDemo.AVEditorDemoActivity"/>
         <activity android:name="com.example.commonDemo.ScaleExecuteDemoActivity"/>
        
    </application>

</manifest>
