<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lansoeditor.demo"
    android:versionCode="2200"
    android:versionName="2.2.0" >

    <!-- 这里的意思是：我们的sdk最低是Android4.3， 最高支持Andriod7.0 -->
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

      
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    
    
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    
    
    
    
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.example.advanceDemo.StartActivity"
            android:theme="@style/AppTheme2">
            
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         
        <activity
            android:name="com.example.advanceDemo.MainActivity">
            <!-- 因为要加载.so库, 这里一定要用MainActivity来启动 -->
            
                
        </activity>
        
        
        
        <activity android:name="com.example.advanceDemo.VideoLayerTwoRealTimeActivity"></activity>
        
        
        <activity android:name="com.example.advanceDemo.FilterDemoRealTimeActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.BitmapLayerDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.FilterRealTimeActivity"></activity>
        <activity android:name="com.example.advanceDemo.DrawPadHintActivity"></activity>
        <activity android:name="com.example.advanceDemo.VideoLayerRealTimeActivity"></activity>
        <activity android:name="com.example.advanceDemo.PictureSetRealTimeActivity"></activity>
        <activity android:name="com.example.advanceDemo.VideoPlayerActivity"></activity>
                   
            
        <activity android:name="com.example.advanceDemo.ExecuteVideoLayerDemoActivity"></activity>
        <activity android:name="com.example.advanceDemo.ExecuteFilterDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.ExtractVideoFrameDemoActivity"></activity>
        
        
        
          <activity android:name="com.example.advanceDemo.CanvasLayerDemoActivity"></activity>
       <activity android:name="com.example.advanceDemo.CameraMaskLayerDemoActivity"
           android:screenOrientation="portrait">
       </activity>
       
       <activity android:name="com.example.advanceDemo.CameraLayerFullScreenActivity"
           android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           >
       </activity>
       
       
       
       
       
        <activity android:name="com.example.advanceDemo.CameraLayerDemoActivity"
           android:screenOrientation="portrait">
       </activity>
       
       
       
       
       
        <activity android:name="com.example.advanceDemo.TestRecordCamMaskLayerActivity"
           android:screenOrientation="portrait">
       </activity>
       
       
        
        
        <activity android:name="com.example.advanceDemo.FilterExecuteActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.FileExplorerActivity"
        android:label="@string/select_video"></activity>
        
        
        <activity android:name="com.example.advanceDemo.BitmapLayerDemoExecuteActivity"></activity>
        <activity android:name="com.example.advanceDemo.ViewLayerDemoActivity"></activity>
        
        <activity android:name="com.example.advanceDemo.ViewLayerOnlyRealTimeActivity"></activity>
        
        
        <activity android:name="com.example.advanceDemo.MVLayerDemoActivity"></activity>
        <activity android:name="com.example.advanceDemo.TestMVLayerExecuteActivity"></activity>
          <activity android:name="com.example.advanceDemo.VideoLayerAutoUpdateDemoActivity"></activity>
        
          
          <activity android:name="com.example.advanceDemo.TestCameraLayerDemoActivity"></activity>
          
             <activity android:name="com.example.advanceDemo.InsertAudioDemoActivity"></activity>
          
               <activity android:name="com.example.advanceDemo.CopyOfCanvasLayerDemoActivity"></activity>
             
             
          <activity android:name="com.example.advanceDemo.CameraRecordDemoActivity"></activity>
          
         <activity android:name="com.example.advanceDemo.CameraLayerSegmentDemoActivity"
               android:theme="@style/AppTheme2">
          </activity>
          
        <activity android:name="com.example.advanceDemo.ExecuteRandomDemoActivity"></activity>
          
          
          
          <activity android:name="com.example.advanceDemo.SegmentRecorderActivity"
                  android:theme="@style/AppTheme2">
          </activity>
          
        <!--    common version -->
            <activity android:name="com.example.commonDemo.CommonDemoActivity"></activity>
         <activity android:name="com.example.commonDemo.MediaInfoActivity"></activity>
         <activity android:name="com.example.commonDemo.AVEditorDemoActivity"/>
         <activity android:name="com.example.commonDemo.ScaleExecuteDemoActivity"/>
        
    </application>

</manifest>
